@* This is the Intro partial view *@
<div class="intro-container">
    <section class="intro-section">
        <div class="container">
            <h1 class="animated-heading">
                <span class="part1">studio</span><span class="part2">m2n</span>
            </h1>
        </div>
    </section>
    <div class='intro'></div>
</div>
